1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 

6 
Answer:  
* ->  mathematical operator
'hello' -> string
-87.8 -> float
-  -> mathematical operator
/ -> mathematical  operator
+ -> mathematical  operator
6 -> integer

2. What is the difference between string and variable?
Variable is something which is used to stored data in it which maybe of any datatype, objects etc. 
String is a datatype which consists of characters stored in a variable.
Eg: name = “myname”
Here name is variable and “myname” is a string

3. Describe three different data types.
Integer, strings, Float

4. What is an expression made up of? What do all expressions do?
An expression is made up of combination of values, variables, operators and functional calls which can  be evaluted to produce a result.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Expressions are used to calculate or compute values, while statements are used to perform actions or control the flow of a program.

6. After running the following code, what does the variable bacon contain?

In [1]:
bacon = 22
bacon + 1

23

In [ ]:
7. What should the values of the following two terms be?

In [2]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
Answer: Because variable names must begin with a letter or an underscore, not a digit.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Answer: float(), int(), str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Answer: This expression cause ana error because 99 is an integer so cannot concatenate with string value directly. To fix this:

In [4]:
'I have eaten '+str(99)+' burritos'

'I have eaten 99 burritos'